<html>

<head>

    <title>Online Complaint Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body style="background-color:#e6fff2">

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1" style="background-color: #b3ecff">
  <a href="" style="color:#0099ff"><h1>ONLINE FIR</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:#008ae6">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal" style="color:#008ae6">Admin</a>
      </li>
    
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
 {% block body %}
 {% endblock %} 
<!--img src="{{url_for('static', filename = 'firimage.png' )}}" -->


<div class="container " >

        <div class="modal-header">
            <h4 class="modal-title">Please Fill Informations</h4>
        </div>
</div>
<br>
        <div class="modal-body ">
            <form class="container" action="{{ url_for('insert') }}" method="POST">

                    <div class="form-group m-b-30 col-sm-4 col-md-4">
                        <label for="name" size="2" >Full Name </label><label class="control-label" style="color:red">  *</label><br>
                        <input id="name" class="form-control sty" name="name" placeholder="Dipak" value="" type="text" title="Full Name" maxlength="100" autocomplete="nope" required="">
                        <span class="validity"></span>
                    </div>    
                    <div class="form-group m-b-30 col-sm-4 col-md-4">
                        <label for="contact-number">Contact Number </label><label class="control-label" style="color:red">*</label><br>
                        <input  class="form-control sty" name="contact" placeholder="7083107584" value="" title="Contact Number" type="contact" minlength="10" maxlength="10" autocomplete="nope" required="">
                        <span class="validity"></span>
                    </div>
                    <div class="form-group m-b-30 col-sm-4 col-md-4">
                        <label for="mail">E-mail ID </label><label class="control-label" style="color:red">*</label><br>
                        <input class="form-control sty" name="email" type="email" value="" placeholder="example@domain.com" title="E-mail ID" maxlength="100" autocomplete="nope" onkeyup="this.value=this.value.replace(/[^_a-zA-Z0-9@. ]/,'')" required="1">
                        <span class="validity"></span>
                    </div>
                    
                    <div class="form-group m-b-30 col-sm-4 col-md-4">
                        <label for="address">Room No. / Street Name </label><br>
                        <input id="door" class="form-control sty" name="doorno" type="text" value="" placeholder="1209" autocomplete="nope" title="Room No. / Street Name">
                    </div>
                    
                    <div class="form-group m-b-30 col-sm-4 col-md-4">
                        <label for="address">Address </label><br>
                        <input id="address" class="form-control sty" name="address" value="" type="text" placeholder="Sector-1,Shingave" autocomplete="nope" title="Address" maxlength="200">
                        <span class="validity"></span>
                    </div>
                    
                    
                    <div class="form-group m-b-30 col-sm-4 col-md-4">
                        <label for="subject">City </label><br>
                        <input id="name" class="form-control sty" name="city" value="" title="City" placeholder="Shingave" autocomplete="nope" type="text">
                        <span class="validity"></span>
                    </div>
                 
                   
                    <div class="form-group m-b-30 col-sm-6 col-md-6">
                        <span class="validity"></span>
                        <label for="subject" title="State">State </label><br>
                       <input id="name" class="form-control sty" name="state" value="" placeholder="Maharashtra" type="text" autocomplete="nope" title="State">
                          
                        <span class="validity"></span>
                    </div>
                    <div class="form-group m-b-30 col-sm-6 col-md-6">
                        <span class="validity"></span>
                        <label for="subject" title="Country">Country </label><br>
                        <input id="name" class="form-control sty" name="country" value="" placeholder="India" type="text" autocomplete="nope" title="Country">
                        <span class="validity"></span>
                    </div>
                    <input type="text" name="ps_id" value="0" hidden="">
                    <div class="form-group m-b-30 col-sm-6 col-md-6">
                        <label for="subject">Pin code</label><br>
                        <input id="postcode" class="form-control sty" name="postal_code" value="" placeholder="400001" type="text" autocomplete="nope" title="Pin code" minlenght="6" maxlength="6">
                        <span class="validity"></span>
                    </div>
                    
                    <div class="form-group m-b-30 col-sm-6 col-md-6" id="formbottom">

                        <label class="control-label" >Police Station </label><label class="control-label" style="color:red">*</label>
                        <select class="classic1  form-control sty cl-form" name="police_s" value="" title="Select Police Station" required="">
                            <option value="">Select Police Station </option>
                            <option value="Narayangoan">Narayangoan</option>
                            <option value="Alephata">Alephata</option>
                            <option value="Belhe">Belhe</option>
                            <option value="Nagar">Nagar</option>
                            <option value="Manchar">Manchar</option>
                            <option value="Junnar">Junnar</option>
                            <option value="Pune">Pune</option>
                            
                        </select>
                    </div>
                    <div class="form-group m-b-30 col-sm-12 col-md-12">
                        <label for="Description">Complaint </label><label class="control-label" style="color:red">*</label>
                        <textarea class="form-control txtar" id="exampleFormControlTextarea2" name="complaint" value="" type="text" title="Article Description" maxlength="500" rows="4" autocomplete="nope" placeholder="Please Enter Your Complaint Here" required=""></textarea><br>
                        <span class="validity"></span>
                    </div>
                                                    
                    
                    <div class="col-md-1 col-sm-1">
                        <input class="big-check" type="checkbox" required="">
                    </div>
                    <div class="col-md-11 col-sm-11">
                        <p class="agree-check" title="I certify that the information provided by me in above form is accurate and correct as per best of my knowledge. I understand that withholding of information or giving false information is a criminal offense and may result in legal action against me.">
                            I certify that the information provided by me in above form is accurate and correct as per best of my knowledge. I understand that withholding of information or giving false information is a criminal offense and may result in legal action against me.
                        </p>
                        <p title=""></p><h4>DISCLAIMER :</h4>
                        <p>As per the prevailing laws, FIR of a major crime (′cognizable crimes like theft, burglary, motor vehicle theft, accident, chain-snatching, assault, rape, murder, attempt to commit murder, robbery, dacoity, extortion etc) can only be registered at a Police Station. Please contact your nearest Police Station for the same.

                        <br><br>This site shall only entertain complaints about minor crimes (′non-cognizable crimes′).Your complaint shall be referred to the concerned Police Station, where you may be called for further clarification and/or to give statement.
                        </p><p></p>
                    </div>
                    <br>
                    </br>
                    <div class="container">

                                       
                        <button class="cancel-btn  btn-def col-md-3 col-sm-2 col-xs-5 btn btn-warning pull-left" type="reset" title="Reset">Reset</button>
                        <button class="submit-btn  btn-def-op col-md-3 col-sm-3 col-xs-6 btn btn-success pull-right" id="submit_button" title="Submit" type="Submit" onclick="return confirm('Are You Sure For Complaint?')">Submit</button>
                     
                     </div>

                </form>
                </div>


<!-- modal-->
<div id="myModal" class="modal fade" role="dialog"  >


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">
            <h4 class="modal-title show left">Welcome To Login</h4>


            {%with messages = get_flashed_messages()%}

            {%if messages%}

            

                <div class="alert alert-success alert-dismissable" role="alert">

                {{messages}}


              </div>


             
             
            {%endif%}
            {%endwith%} 

            

            <button type="button" class="close" data-dismiss="modal">&times;</button>


            


         </div>


         <div class="modal-body">


            <form action="{{url_for('login')}}" method="POST" >




                <div class="form-group">


                  <label>Email:</label>
                  <input type="text" class="form-control" name="email" required="1">


               </div>


                <div class="form-group">


                  <label>Password:</label>
                  <input type="password" class="form-control" name="password" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Login</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>

 </body>
 </html>               
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>