 {% extends 'home.html' %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    {% block body %}
    

    
    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

    <button type="button" class="close" aria-label ="close" data-dismiss="alert" >

         <span aria-hidden="true">&times;</span>

     </button>
      <b>Congraculation</b>,  {{name}}  Your Complaint Send To The Police Station  {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}
    

    {% endblock  %} 
 


